
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-left text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Autor:</h5>
        <p>Miguel Ángel Jiménez Jiménez</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Dijo:</h5>

        <p>
          "Siempre codifica como si la persona que finalmente mantendrá tu código fuera un psicópata violento que sabe dónde vives."
          <br />
          - Martin Golding
        </p>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Vamos sobrados</h5>

        <code>// Querido mantenedor de este código<br> // Una vez que hayas terminado de intentar "optimizar" esta rutina,<br> // y te hayas dado cuenta del terrible error que era hacerlo,<br> // por favor, incrementa el siguiente contador como advertencia<br> // para el próximo tipo:<br> // total_horas_gastadas_aqui = 42</code>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:

  </div>
  <!-- Copyright -->

</footer>
